/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' background-color:#E4E4E4;*/
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    overflow: hidden;
}

/* Portrait layout (default) */
.app { text-align: center; }

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app { text-align: center; }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

/* Main app css */
.etiquette {
    min-height: 100%;
    margin-bottom: 0;
}

.currentpoop {
    width: 95%;
    vertical-align: auto;
}

/* MENU */
.navbar {
    min-height: 45px;
    margin-bottom: 25px;
    background-color: #222;
    padding: 2%;
    padding-top: 4%;
    position: relative;
}

.navbar-title {
    display: inline-block;
    height: 50%;
    margin: auto;
    margin-left: 30px;
    font-size: 40px;
    font-weight: bold;
    color: #FFF;
}

.navbar-logo {
    display: inline-block;
    height: 48px;
    width: 48px;
}

.navbar-menu-btn {
    display: inline-block;
    position: relative;
    width: 48px;
    height: 48px;
    float: right;
    border-radius: 3px;
    margin-right: 30px;
    background: url('../icon.png') no-repeat;
}

/*
.navbar-menu-btn:before {
    content: "";
    position: absolute;
    left: 0;
    width: 48px;
    height: 10px;
    border-top: 1.8em double #AAA;
    border-bottom: 0.6em solid #AAA;
    background-color: #222;
}*/

.navbar-menu-dropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 500;
    list-style-type: none;
    padding: 0;
    margin: 0;
    left: 0;
}

.navbar-menu-dropdown li.even {
    padding: 0.5em;
    margin: 0;
    background-color: #222;
}

.navbar-menu-dropdown li.odd {
    padding: 0.5em;
    margin: 0;
    background-color: #333;
}

.navbar-menu-dropdown li a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #AAA;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 40px;
    display: block;
}

.navbar-menu-dropdown li a:visited, a:link, a:hover, a:active { text-decoration: none; }

.animate {
    -webkit-transition: -webkit-transform 0.5s;
}

/* Mocking Bootstrap's jumbotron and container*/
.jumbotron {
  padding: 20px;
  min-height: 95%;
  max-height: 95%;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
  text-align: center;
}

.container .jumbotron {
  border-radius: 6px;
}

.jumbotron .container {
  max-width: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

/* ABOUT PAGE */

.jumbotron p {
    line-height: 90%;
}

.app-name {
    font-weight: bold;
}

.app-version {
    font-weight: bold;
}

.authors {
    font-weight: bold;
    list-style-type: none;
    padding: 0;
    margin: 0;
}