<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.shampoop" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ShamPoop</name>
    <description>
        Your friendly poop companion.
    </description>
    <author email="kevin.d.morgan@gmail.com" href="https://github.com/kevincarrogan">
        Kevin Carrogan
    </author>
    <author email="samumatt@gmail.com" href="https://github.com/samuele-mattiuzzo">
        Samuele Mattiuzzo
    </author>

    <plugin name="SplashScreen" value="org.apache.cordova.SplashScreen"/>

    <icon src="icon.png" />
    <icon density="ldpi" platform="android" src="res/drawable-ldpi/icon.png" />
    <icon density="mdpi" platform="android" src="res/drawable-mdpi/icon.png" />
    <icon density="hdpi" platform="android" src="res/drawable-hdpi/icon.png" />
    <icon density="xdpi" platform="android" src="res/drawable-xdpi/icon.png" />

    <splash src="splash.png" />
    <splash density="ldpi" platform="android" src="res/drawable-ldpi/splash_320x426.png" />
    <splash density="mdpi" platform="android" src="res/drawable-mdpi/splash_320x470.png" />
    <splash density="hdpi" platform="android" src="res/drawable-hdpi/splash_480x640.png" />
    <splash density="xdpi" platform="android" src="res/drawable-xdpi/splash_720x960.png" />

    <content src="index.html" />
    <access origin="*" />
    
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="EnableViewportScale" value="true" />
    

</widget>
